body, html{
  background-image:linear-gradient(to bottom ,#f7e78d,#f7e78d); 
  background-attachment:fixed;
  height:100%;
  font-family: 'Quicksand', sans-serif;
  color: #330C2F;
  background-attachment:fixed;
}